.bottom-metrics-data-item {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;

  &__main-data {
    display: flex;

    &__body {
      margin-left: 1.5rem;

      &__title {
        display: flex;
        width: fit-content;
        margin-bottom: 0.5rem;

        &--low-opacity {
          color: #a0b0b9;
        }

        &__text {
          margin-right: 0.7rem;
        }

        &__percentage {
          font-size: 0.8rem;
          padding: 0.15rem 0.6rem;
          background-color: #8bc34a;
          border-radius: 1rem;
          color: #fff;

          &--disabled {
            background: transparent;
            color: #4a4a4a;
          }
        }
      }
    }

    &__icon {
      align-self: flex-start;
    }
  }

  &__secondary-data {
    &__heading {
      line-height: 1.6;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    &__body-text {
      font-size: 0.8rem;
      color: #a0b0b9;
      margin-bottom: 0.2rem;
    }

    &__help-links {
      font-size: 0.8rem;

      &__link {
        text-decoration: none;
        color: #2196f3;
      }
    }
  }
}

.low-opacity {
  color: #a0b0b9;
}
