.percentage-level-bar {
  margin-top: 1.2rem;
  width: 600px;
  height: 8px;
  display: flex;

  &__1 {
    width: calc(600px * 40 / 100);
    background-color: #ffcc00;
  }

  &__2 {
    width: calc(600px * 30 / 100);
    background-color: #5856d5;
  }

  &__3 {
    width: calc(600px * 20 / 100);
    background-color: #2196f3;
  }

  &__4 {
    width: calc(600px * 10 / 100);
    background-color: #a0b0b9;
  }
}

.border {
  border-right: 2px solid #fff;
}

