.percentage-level-bar {
  margin-top: 1.2rem;
  width: 600px;
  height: 8px;;
  display: flex;
}

.border{
  border-right: 2px solid #fff;
}
.percentage-level-bar__1 {
  width: calc(600px * 40 / 100);
  background-color: #ffcc00;
}
.percentage-level-bar__2 {
  width: calc(600px * 30 / 100);
  background-color: #5856D5;
}
.percentage-level-bar__3 {
  width: calc(600px *  20/ 100);
  background-color: #2196F3;
}
.percentage-level-bar__4 {
  width: calc(600px * 10 / 100);
  background-color: #A0B0B9;
}
