.top-metrics-data-item {
  display: flex;
  width: fit-content;

  &__sphere {
    width: 10px;
    height: 10px;
    background-color: #8bc34a;
    border-radius: 50%;
    margin-right: 0.4rem;
    transform: translateY(5px);
  }

  &__body-data {
    &__title {
      font-size: 0.9rem;
      font-weight: 600;
    }

    &__average {
      font-size: 0.7rem;
      color: #a0b0b9;
    }
  }
}
