.dashboard {
  padding: 2rem 1.8rem;
  height: 600px;
  width: 600px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard__title {
}
